.DS_STORE
# Node.
node_modules
db-import
dev
npm-debug.log
public/upload/*
public/vendor
public/js/modules.min.js

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project
*.nodemon-find-ref
